*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    background-color: rgb(92, 48, 92);
}
.jogo-memoria{
    height: 640px;
    width: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.card{
    height: calc(33.333% - 10px);
    width: calc(25% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(1, 1, 1, .3);
    cursor: pointer;
    transform: scale(1);
}
.card-front, .card-back{
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #fff;
}